Django
djangorestframework
django-cors-headers
python-dotenv
psycopg[binary]
Pillow
djangorestframework-simplejwt
environs
whitenoise
django-filter
python-telegram-bot>=20.0
qrcode[pil]>=7.4.2
cryptography
gunicorn
dj-database-url